*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.bg {
    background-image: url(slider-1.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}
.container1{
    background-color: rgba(0, 0, 0, 0.3);
    
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    padding-bottom: 10px;
}
.top_left ul {
    display: flex;
    list-style: none;
}
.top_left ul li a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}
.top_right ul {
    display: flex;
    list-style: none;
}
.top_right ul li a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}
.bottom{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.logo1 img{
    width: 150px;
    margin-top: 10px;
}
.home{
    width: 70%;
}
.llists {
    display: flex;
    list-style: none;
    justify-content: center;
}
.home ul li{
    margin-right: 20px;
}
.home ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
ul.uclass {
    position: absolute;
    background: white;
    list-style: none;
    padding: 10px;
    line-height: 23pt;
    margin-top: 54px;
    display: none;
    margin-left: -40px;
    padding-left: 15px;
}
.llists:hover .uclass{
    display: block;
    margin-left: 1px;
    transition: ease-in 0.3s;
}
.booknow button{
    padding: 10px 20px;
    border: 2px solid rgb(255, 173, 0);
    background-color: rgb(255, 174, 0);
    color: black;
    font-weight: 700;

}
.booknow button:hover{
    border: 2px solid rgb(255, 174, 0);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.text{
    margin-top: 100px;
    margin-left: 80px;
    width: 40%;
    color: white;
}
.htext1 h1{
    font-size: 50px;
}
.ptext1 p{
    margin-top: 20px;
}
.reserve button{
    margin-top: 40px;
    padding: 15px 30px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 700;

}
.reserve button:hover{
    border: 2px solid rgb(255, 174, 0);
    background-color: rgb(255, 174, 0);
    color: white;
    transition: linear 0.3s;
}
.s1{
    padding-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.main{
    gap: 50px;
    display: flex;
    justify-content: space-between;
}
.leftcontent{
    width: 50%;
}
.htext2{
    font-size: 20px;
}
.ylw{
    color:rgb(255, 174, 0) ;
}
.ptext2{
    padding-top: 15px;
    font-size:15px ;
    color: gray;
}
.htext3{
    margin-top: 30px;
}
.ptext3{
    padding-top: 15px;
    font-size:15px ;
    color: gray;
    line-height: 17pt;
}
.MORE button{
    margin-top: 40px;
    padding: 15px 35px;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 700;

}
.MORE button:hover{
    border: 1px solid rgb(255, 174, 0);
    background-color: rgb(255, 174, 0);
    color: white;
    transition: linear 0.3s;
}
.rightcontent{
    width: 50%;
}
.rightcontent {
    display: flex;
    justify-content: flex-end;
}
.txt_btn{
    display: flex;
    justify-content: space-between;
}
.subsection{
    background-color: rgb(238, 238, 238);
}
.exp{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.btn button{
    padding: 15px 35px;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 700;

}
.btn button:hover{
    border: 1px solid rgb(255, 174, 0);
    background-color: rgb(255, 174, 0);
    color: white;
    transition: linear 0.3s;
}
.txt h1{
    font-size: 30px;
}
.txt p{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: gray;
}
.rooms {
    gap: 40px;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.demo1{
    width: 30%;
    background-color: white;
}
.demo1 img{
    width: 100%;
}
.demo2{
    width: 30%;
    background-color: white;
}
.demo2 img{
    width: 100%;
}
.demo3{
    width: 30%;
    background-color: white;
}
.demo3 img{
    width: 100%;
}
.desc1{
    margin: 30px;
}
.desc1 h1{
    font-size: 22px;
}
.desc1 p{
    margin-top: 10px;
    color: gray;
    font-size: 16px;
}
.chargesbtn {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.chargesbtn h1{
    font-size: 20px;
    margin-top: 10px;
}
.chargesbtn h1 span{
    color: gray;
    font-size: 15px;
}
.chargesbtn button{
    padding: 10px 20px;
    border: 2px solid rgb(255, 173, 0);
    background-color: rgb(255, 174, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.chargesbtn button:hover{
    border: 2px solid rgb(255, 174, 0);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}

.desc2{
    margin: 30px;
}
.desc2 h1{
    font-size: 22px;
}
.desc2 p{
    margin-top: 10px;
    color: gray;
    font-size: 16px;
}
.chargesbtn2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.chargesbtn2 h1{
    font-size: 20px;
    margin-top: 10px;
}
.chargesbtn2 h1 span{
    color: gray;
    font-size: 15px;
}
.chargesbtn2 button{
    padding: 10px 20px;
    border: 2px solid rgb(255, 173, 0);
    background-color: rgb(255, 174, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.chargesbtn2 button:hover{
    border: 2px solid rgb(255, 174, 0);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.desc3{
    margin: 30px;
}
.desc3 h1{
    font-size: 22px;
}
.desc3 p{
    margin-top: 10px;
    color: gray;
    font-size: 16px;
}
.chargesbtn3 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.chargesbtn3 h1{
    font-size: 20px;
    margin-top: 10px;
}
.chargesbtn3 h1 span{
    color: gray;
    font-size: 15px;
}
.chargesbtn3 button{
    padding: 10px 20px;
    border: 2px solid rgb(255, 173, 0);
    background-color: rgb(255, 174, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.chargesbtn3 button:hover{
    border: 2px solid rgb(255, 174, 0);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.container2{
  background-color: black;
}

.services{
    padding-bottom: 100px;
    padding-top: 100px;
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.row1{
   
    width: 25%;
}
.row1 p{
    margin-top: 25px;
    color: gray;
    line-height: 17pt;
}
.hyper a{
    font-size: 13px;
    font-weight: 900;
    color:rgb(255, 174, 0) ;
}
.hyper a:hover{
    text-decoration: none;
}
.row2{
    
    width: 25%;
    text-align: center;
}
.row2 i{
    font-size: 70px;
    color: rgb(255, 174, 0);
}
.row2 h1{
    font-weight: 400;
    margin-top: 15px;
    font-size: 20px;
}
.row2 p{
    margin-top:20px ;
    color: gray;
    line-height: 17pt;
}
.row3{
    
    width: 25%;
    text-align: center;
}
.row3 i{
    font-size: 70px;
    color: rgb(255, 174, 0);
}
.row3 h1{
    font-weight: 400;
    margin-top: 15px;
    font-size: 20px;
}
.row3 p{
    margin-top:20px ;
    color: gray;
    line-height: 17pt;
}
.row4{
    
    width: 25%;
    text-align: center;
}
.row4 i{
    font-size: 70px;
    color: rgb(255, 174, 0);
}
.row4 h1{
    font-weight: 400;
    margin-top: 15px;
    font-size: 20px;
}
.row4 p{
    margin-top:20px ;
    color: gray;
    line-height: 17pt;
}
.gallerymain{
    background-color:rgb(255, 174, 0) ;
}
.gallery{
    padding-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.gallery h1{
    color: white;
    text-align: center;
}
.blk{
    color: black;
}
.gallery p{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}
.slider{

    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.slider img{
    width: 22%;
}
.sliderbtn {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    gap: 45px;
    padding-bottom: 70px;

}
.sliderbtn button{
    font-weight: 700;
    font-size: 17px;
    color: rgb(129, 129, 129);
    border: 2px solid rgb(179, 179, 179);
    padding: 10px 15px;
}
.sliderbtn button:hover{
    cursor: pointer;
    border-color: rgb(255, 174, 0);
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.ceo{
    border-top: 1.5px solid rgb(167, 167, 167);
    padding-top: 70px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.aboutceo{
    gap: 50px;
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.ceoname i{
    padding-right: 20px;
    font-size: 40px;
    color:rgb(255, 174, 0) ;
}
.ceoname p{
    font-size: 19px;
    color: gray;
    letter-spacing: 1px;
    line-height: 22pt;
}
.ceoname h3{
    padding-top: 20px;
    color:rgb(255, 174, 0) ;
}
.italic span{
    font-style: italic;
    font-size: 16px;
}
.container3{
    margin-bottom: 70px;
}
.container4{
    background-color:rgb(238, 238, 238) ;
    padding-bottom: 80px;
}
.container4w{
    justify-content: space-between;
    display: flex;
    padding-top: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.leftbody{
    width: 60%;
}
.parts{
    display: flex;
    gap: 40px;
}
.part1{
    width: 50%;
    margin-top: 40px;
}
.part1 img{
    width: 100%;
}
.part1 h4{
    color: gray;
    margin-top: 15px;
}
.part1 h3{
    letter-spacing: 1.5px;
    margin-top: 15px;
}
.part1 p{
    margin-top: 15px;
    color: gray;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.part1 a{
    color:rgb(255, 174, 0) ;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
}
.part1 a:hover{
    border-bottom: 1px solid rgb(255, 174, 0);
}
.part2{
    width: 50%;
    margin-top: 40px;
}
.part2 img{
    width: 100%;
}
.part2 h4{
    color: gray;
    margin-top: 15px;
}
.part2 h3{
    letter-spacing: 1.5px;
    margin-top: 15px;
}
.part2 p{
    margin-top: 15px;
    color: gray;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.part2 a{
    color:rgb(255, 174, 0) ;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
}
.part2 a:hover{
    border-bottom: 1px solid rgb(255, 174, 0);
}

.flex{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.date{
    color: rgb(255, 174, 0);
   padding-top: 7px;
    text-align: center;
    width: 110px;
    height: 70px;
    border: 1px solid rgb(187, 187, 187);
}
.rightmain{
    width: 30%;
}
.rightwbody{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    background-color: white;
    padding-bottom: 70px;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.anne{
    line-height: 20pt;
}
.rightbody{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1.5px solid gray;
}
.rightbody2{
    padding-top: 40px;
    padding-bottom: 70px;
}
.rightwbody a{
    color:rgb(255, 174, 0) ;
    font-weight: 700;
    font-size: 15px;
}
.rightwbody a:hover{
    text-decoration: none;
}
.container5{
    background-color:rgb(238, 238, 238);
    padding-bottom: 70px;
}
.imgvid{
    background-image: url(video-bg.png);
    position: relative;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
}
.imgvid::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}
.play{
    position: relative;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size:40px;
}
.play h3{
    color:rgb(255, 174, 0) ;
}
.desc{
    margin-top: 70px;
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}
.bodytxt{
    color: gray;
    line-height: 18pt;
    width: 35%;
    letter-spacing: 1px;
}
.srcbar{
    width: 65%;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
}
.srcbar textarea{
    background-color: rgb(235, 229, 229);
    border-color: 1px solid rgb(156, 156, 156);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
    padding: 16px 20px;
    width: 70%;
    margin-left: 50px;
    height: 50px;
}
.srcbar button{
    padding: 10px 20px;
    border: 2px solid rgb(255, 173, 0);
    background-color: rgb(255, 174, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.srcbar button:hover{
    border: 2px solid rgb(255, 174, 0);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.container6{
    background-color: rgb(37, 37, 37);
    padding-bottom: 50px;
}
.last{
    justify-content: space-between;
    display: flex;
    padding-top: 70px;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.roww1{
    width: 15%;
}
.roww1 img{
    width: 180px;
}
.sub{
    color: gray;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}
.sub2{
    color: gray;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}
.roww1 button{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid rgb(255, 173, 0);
    background-color: rgb(255, 174, 0);
    color: black;
    font-weight: 700;

}
.roww1 button:hover{
    border: 2px solid rgb(255, 174, 0);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.roww2 h3{
    line-height: 30pt;
    font-size: 16px;
    border-bottom: 1px solid rgb(255, 174, 0);
}
.roww2 ul{
    margin-top: 30px;
    list-style: none;
}
.roww2 ul li a{
    line-height: 20pt;
    color: gray;
    text-decoration: none;
}
.roww2 ul li a:hover{
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.roww3 h3{
    line-height: 30pt;
    font-size: 16px;
    border-bottom: 1px solid rgb(255, 174, 0);
}
.roww3 ul{
    margin-top: 30px;
    list-style: none;
}
.roww3 ul li a{
    line-height: 20pt;
    color: gray;
    text-decoration: none;
}
.roww3 ul li a:hover{
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.roww4 h3{
    line-height: 30pt;
    font-size: 16px;
    border-bottom: 1px solid rgb(255, 174, 0);
}
.roww4 ul{
    margin-top: 30px;
    list-style: none;
}
.roww4 ul li a{
    line-height: 20pt;
    color: gray;
    text-decoration: none;
}
.roww4 ul li a:hover{
    color: rgb(255, 174, 0);
    transition: linear 0.3s;
}
.container7{
    background-color: rgb(29, 29, 29);
   
}
.copyright{
    padding-top: 30px;
    padding-bottom: 30px;
     width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    display: flex;
    justify-content: space-between;
}